# Matematical optimization
pyscipopt==3.1

# Numbers manipulation
numpy==1.22.0
scipy==1.5

# Dataframes
pandas==1.2

# Probability distribution estimation
scikit-learn==0.23

# Confidence interval estimation
statsmodels==0.12

# Reporting
openfoodfacts==0.1
jinja2==3.0
matplotlib==3.3
seaborn==0.11
requests==2.25

#################################################################################################################
# Packages below are not needed for impact estimation of OFF products but may be necessary to run other scripts #
#  contained in the repository such as ingredients characterization scripts. Uncomment if needed.               #
#################################################################################################################

# MongoDB
# pymongo==3.11

# Progressbars
# tqdm==4.56

# XML parsing
# xmltodict

# Testing
# pytest==6.2
# coverage==5.5
# pytest-cov==2.12