# Matematical optimization
pyscipopt

# Numbers manipulation
numpy
scipy

# Dataframes
pandas

# Probability distribution estimation
scikit-learn

# Confidence interval estimation
statsmodels

# Reporting
openfoodfacts
jinja2
weasyprint
matplotlib
seaborn

#################################################################################################################
# Packages below are not needed for impact estimation of OFF products but may be necessary to run other scripts #
#  contained in the repository such as ingredients characterization scripts. Uncomment if needed.               #
#################################################################################################################
# OpenFoodFacts bindings
# openfoodfacts

# MongoDB
# pymongo

# Plots
# matplotlib
# seaborn

# Progressbars
# tqdm

# XML parsing
# xmltodict

# Fuzzy string matching
# fuzzywuzzy[speedup]

# Generating documentation
sphinx
sphinx_rtd_theme
sphinxcontrib-napoleon
sphinx-mathjax-offline
m2r2