@import url("pure-min.css");

h1, h2 {
    text-align: center;
}

h3 {
  color: #008040;
}

h4 {
  color: #444444;
}

img {
    vertical-align: middle;
}

div.centered-div {
    text-align: center;
}

div.warning-block {
     background-color: #fffbea;
     border-left: solid 4px #e6c32d;
     line-height: 18px;
     overflow: hidden;
     padding: 12px;
}

div.note-block {
     background-color: #bbcbf7;
     border-left: solid 4px #537cea;
     line-height: 18px;
     overflow: hidden;
     padding: 12px;
}

table.pure-table{
    font-size: x-small;
}

.reliability-1 {
    font-weight: bold;
    font-size: large;
    color: #1a9641;
}

.reliability-2 {
    font-weight: bold;
    font-size: large;
    color: #a6d96a;
}

.reliability-3 {
    font-weight: bold;
    font-size: large;
    color: #fdae61;
}

.reliability-4 {
    font-weight: bold;
    font-size: large;
    color: #d7191c;
}

.reliability-value {
    font-size: xx-large;
}