@import url("pure-min.css");

h1, h2 {
    text-align: center;
}

h3 {
    color: #008040;
}

h4 {
    color: #444444;
}

dt {
    font-weight: bold;
    color: #444444;
}

img {
    vertical-align: middle;
}

div.centered-div {
    text-align: center;
}

div.warning-block {
    color: #AD9122;
    background-color: #fffbea;
    border-left: solid 4px #e6c32d;
    line-height: 18px;
    overflow: hidden;
    padding: 12px;
}

div.note-block {
    color: #3D5CAA;
    background-color: #bbcbf7;
    border-left: solid 4px #537cea;
    line-height: 18px;
    overflow: hidden;
    padding: 12px;
}

table.pure-table{
    font-size: x-small;
}

.reliability-div {
    margin: 15px;
}

.reliability {
    color: white;
    border-radius: 10px;
    font-weight: bold;
    font-size: large;
    padding: 10px;
}

.reliability-1 {
    background: #1a9641;
}

.reliability-2 {
    background: #a6d96a;
}

.reliability-3 {
    background: #fdae61;
}

.reliability-4 {
    background: #d7191c;
}

.reliability-value {
    font-size: xx-large;
    padding: 15px;
}

.in-taxo {
    font-weight: bold;
}

.has-nutri {
    color: #C75605;
}

.has-impact {
    color: #0576C7;
}

.has-nutri.has-impact {
    color: #14A304;
}

.not-in-recipe {
    font-style: italic;
    color: #777777 !important;
}